<h1>
Eddie Murphy was born in Brooklyn New York, in 1961, the youngest son of Lillian Murphy, a widow who married Vernon Lynch, the step-father of Eddie, his brother Charles Q. Murphy, and Vernon Jr. Coming to America, my fave film, is about an African prince who goes to Queens, New York City to find a wife whom he can respect for her intelligence and will. 
</h1>