<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artist AR</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/paintings/new">Enter Painting</a></li>
      <li><a href="/paintings">All Paintings</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>