<h1>Welcome to Stock.ly.</h1>

<form action="/stocks" method="GET" >
  <input type="text" placeholder="Stock Symbol" name="stock_symbol" />
  <button>Get Quote!</button>
</form>

<!-- <input type="text" placeholder="Write some stuff" name="stuff" /> -->


<!-- placeholder is the gray text in the box. name will match up to the variable that we assigned to the params -->