<h1>"Welcome to Stock.ly!"</h1> 

<form action="/stocks" method="GET">
    <input type="text" placeholder="Stock Symbol" name="stock_symbol" value="BLAHBLAH"/>
    <!-- type is an attribute
    name = KEY 
    value = VALUE 
  example here: {stock_symbol => :GOOG}
  --> 



    <input type="text" placeholder-"Write some stuff" name="stuff" /> 
    <button type="submit">Get Quote!</button>
    <!-- button type, it performs the "type" action packages the info into key value pairs and submits http request--> 
</form> 


<!-- ? shows beginning of query string --> 