<form method="POST" action="/welcome">
  <p><input type="text" name="author" placeholder="Who is the author?"/></p>
  <p><input type="text" name="photo" placeholder="Image URL"/></p>
  <p><input type="date" name="date"/><p>