<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>McKstagr.am - Hottest Gr.am on the Ne.tz</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<%= yield %>
</body>
</html>