

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*#myPic {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#myPic img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
*/

body { 
  background: url("http://mmartine.userworld.com/css/MyPort1.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 400px;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container{
	width: auto;
}

.hero-unit {
  background-color: rgba(255,0,0,0.5);
  color: black;
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  /*color: inherit;*/
}

.span5{
	color: slate;
}















