<h1>Postey</h1>

<form> <!-- action="" method="POST"> -->
  <label for="">
    Title:
    <input type="text" name="title">
  </label>
  <label for="">
    Content:
    <textarea name="content" id="" cols="30" rows="10"></textarea>
  </label>
  <button>Save</button>
</form>