<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Broadway!</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/shows/new">Create New Show</a>
	</nav>

  <%= yield %>
</body>
</html>