<h1>Todo.ly</h1>

<ol>
  <% @todos.each do |todo| %>
  <!-- yes is the value of the input, third element is the value when the box shows as checked -->
  <li class="<%= todo.completed ? "completed" : "" %>">
    <%= todo.task %>
    <%= check_box_tag :completed, 'yes', todo.completed %></li>
  <% end %>
</ol>