<h1>Congrats! Your receipt has been stored.</h1></div>
<h3>What would you like to do next?</h3>

<!-- View all receipts -->
 <center><a href="/receipts" method:"GET">View all receipts</a>

<!-- Search for a receipt -->
<center><a href="/receipts/:id" method:"GET">Search for a receipt</form>


