<h1>my watchlist</h1>
<form action="">
  <input type="text" name="title" placeholder="The Lion King">
  <input type="submit"></input>
</form>
<script type="text/html">
  <h2><%%= this.title %></h2>
  <button type="button" class="add">Add to Watch List</button><br>
  <input type="checkbox">
  <img src="<%%= this.poster %>" alt="">
  <p><%%= this.plot %></p>
</script>
