<form action='/movies/search' method='POST'>
  <input placeholder="title" type='text' name='title' autofocus>
 <!--  <input placeholder="year" type='text' name='year'>
  <input placeholder="poster" type='text' name='poster'> -->
  <button>Submit Movie</button>
</form>