<h1>All Receipts</h1>

  <% file = File.new("views/receipts.txt", "r") %>
    <% file.each do |lines| %>
      <% each_one = lines.split(",") %>
       <h3>Store:</h3><h4><%= each_one[1] %></h4>
       <h3>Item:</h3><h4><%= each_one[2] %></h4>
        <h3>Cost:</h3><h4><%= each_one[3] %></h4>
      
   <%  end %>
   <% file.close %>

   <a href="/receipts/new">Add more receipts!</a>

