<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Pair Programmig Bot</title>
  <link rel="stylesheet" href="css/normalize.css" />
  <style>
    body {
      text-align: center;
    }
  </style>

  <script src="javascript/jquery-2.0.0.js"></script>
  <script src="javascript/underscore.js"></script>
  <script src="javascript/backbone.js"></script>
</head>

<body>
  <div id="container">
  </div>

  <script type="text/template" id="welcome-message">
    <h1><%= message %></h1>
    <h2><%= secondary %></h2>
    <% if (showParagraph == true) { %>
    <p>You showed me!</p>
    <% } %>
  </script>

  <script type="text/javascript">
    var fakeModelJSON = {
      message: "Welcome Pair Programming Bot",
      secondary: "It works I hope!",
      showParagraph: true};

    WelcomeView = Backbone.View.extend({
      className: "welcome",
      id: "the-welcome-view",
      initialize: function(){
        this.$el.appendTo( $("#container") );
        this.render();
      },
      template: _.template( $("#welcome-message").html() ),
      events: {
        "click h1": "render",
        "click p": "tellEmHowYouFeel"
      },
      render: function(){
        //this.$el.append( $("<p>").text("click") );
        if( fakeModelJSON.showParagraph == true ) {
          fakeModelJSON.showParagraph = false;
        } else {
          fakeModelJSON.showParagraph = true;
        }
        this.$el.html( this.template(fakeModelJSON) );
      },
      tellEmHowYouFeel: function(){
        alert("I feel great!");
      }
    });

    var QuestionView = Backbone.View.extend({
      id: "question",
      template: _.template( $("#question-template").html() ),
      initialize: function(){
        this.$el.appendTo("#container");
        this.render(1);
      },
      events: {
        "click .button": "updateQuestion"
      },
      updateQuestion: function(e){
        console.log(e);
      },
      rendr: function(number){
        this.$el.html( this.template( model[number] ) );
      }
    });

    window.onload = function(){
      intro = new WelcomeView();
      question = new QuestionView();
    };
  </script>
</body>

</html>