<form method="POST" action="/wdi_instagram">

<p><input type="url" placeholder="image url"name="image"></p>
<p><input type="date" placeholder="date" name="day_taken">
<p><input type="text" placeholder="author" name="name"></p>
  <button>Save</button>
</form>