<form method="POST"  action="/new/">

<p>
    <input type="text" placeholder="your authorial name" name="author">
</P>
    <input type="text" placeholder="the url of your image" name="photo">
<p>
    <input type=date name="date">
</p>

<button> Go! </button>
</form>