<form action="/receipts/new" method="get">
  <input type="text" placeholder="Store Name" name="store_name" />
  <input type="text" placeholder="Product Name" name="product_name" />
  <input type="text" placeholder="Product Price" name="product_price" />
  <button>Submit New Receipe!</button>
</form>