@media (max-width: 700px) {
    body {
    background-color: white;
    }
}  

.body {
    font-family: sans-serif;



/*FORMS STYLE*/

.form {
    float: left;
    display: inline-block;
    padding-top: 10px;
    margin-top: 80px;
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    width:1000px;
    height:200px;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: .8;
    }

input    {
    margin-left: 15px;
    padding: 15px;
    border-radius: 10px;
    font-size: 50px;
    margin-top: 20px;
    width: 800px;
    display: inline;
    border: 1px solid #999;
    height: 100px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    text-align: center;
}

#button {
    margin-left: 10px;
    background: orange;
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: arial;
    height:60px;
    width: 60px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid #999;
}

h1 {
  text-align: center;
  line-height: 100px;
  display: block;
  padding-top: 25px;
  color: #ffffff;
  font-size: 115px;
}

h3 {
    margin-top: 80px;
    padding-left: 80px;
    float: left;
    font-size: 80px;
    color: white;
}

img {
    height: 200px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border: 4px solid gray;
    border-radius: 10px;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
 
