<!DOCTYPE html>
<html>
  <head>
    <title>Does This Damn Thing Move?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content"nicholalexnader">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">

    <style>
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

    </style>
  
  </head>
  <body>
  	<%= yield %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>