body{

	background-image:url('bg.png');
	background-size: auto 100%;	
}

h1{
	color: white;
	text-align: left;
	font-size: 70px;
	font-family: 'Meie Script', cursive;

}

#main{
	border-radius: 20px;
	background-color: #f6f6f6;
	padding: 10px;
	position: relative;
	float: right;
	width: 500px;
	height: 70%;
}

#right_body{
	border-radius: 20px;
	position: relative;
	float: center;
	background-color: #b4b1b1;
	min-height: 700px; 
}

p{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	margin-left: -20px;

}
img{
	width: 50px;
	height: 50px;
	margin:10px;
}
h3{
	font-family: 'Meie Script', cursive;
	margin: 0px;
	padding-left: 10px;
}
li{
	list-style-type:none;
	padding-left:20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}