<div id="info">
    <h2>Refactor the code.</h2>
    <img src="http://i3.squidoocdn.com/resize/squidoo_images/-1/lens12567281_1281104759Mr_T_Snarl.jpg" width="400" />   
    <ul class="buttons">



        <li class = "done"><a href="/"></a></li>
    </ul>
</div>


