<div id="info">
    <h1>Select a new feature to implement!</h1>
    <img src="http://th00.deviantart.net/fs70/PRE/i/2010/044/c/e/MR_T_by_mehim.jpg" width="400" />
    <ul class="buttons">
        <li class="continue"><a href="<%= @pair_programming %>">Continue</a></li>
    </ul>
</div>



