<div id="info">
    <h1>do you have a test for that?!</h1>
    <img src="http://www.choppix.com/globaljs/fool/assets/mr.t.png" width="400" />
    <ul class="buttons">
        <li class= "yes"><a href="<%= @refactor %>">Yes</a></li>
        <li class= "no"> <a href="<%= @do_refactor %>">No</a></li>
        <li class= "restart"> <a href="<%= @pair_programming %>">Restart</a></li>
    </ul>
</div>


