<div id="info">
    <h1>does the test pass?!</h1>
    <img src="http://img.engadget.com/common/images/3060000000054159.GIF?0.3675532680390864" width="400" />
    
    <ul class="buttons">
        <li><a href="<%= @do_refactor %>">Yes</a></li>
        <li> <a href="<%= @new_feature %>">No</a></li>
        <li> <a href="<%= @pair_programming %>">Restart</a></li>
    </ul>
</div>

