<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="The best in ecards">
    	<meta name="keywords" content="Ecards, comedy, gifts">
		<title>Ecard.ly | The Best in Ecards</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>


	<body>

<<<<<<< HEAD
		<div class="body-wrapper">
            
            <img class="img-logo" src="images/logo.png">
=======
    <div class="body-wrapper">
      <img class="logo" src="images/logo.png">

      <div class="box">
        <h2 class="card-header">Ecard of the Day</h2>

        <img class="card-img" src="images/ecard-nycstartups.jpg" width="" height="">

        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. Suspendisse vitae pulvinar ligula. In eu dui erat. Etiam sit amet malesuada turpis. Duis dapibus feugiat euismod. Suspendisse vitae consequat nunc. Vivamus aliquet vulputate varius. <a href="#">DOWNLOAD</a></p>
      </div>

    </div>
>>>>>>> 8253dbc7cca75cee82683aa4e1809967c44b0c9e

            <div class="box">
              <h2 class="card-header">Ecard of the Day</h2>

              <img class="card-img" src="images/ecard-nycstartups.jpg" width="600px" height="">

              <p class="card-text">Duis 3 wolf moon organic, pickled id fugiat cupidatat gastropub. Try-hard drinking vinegar adipisicing, Marfa ennui YOLO consectetur. Aliqua flannel sed minim. Meggings ethnic vero gluten-free, mixtape quinoa delectus PBR nihil salvia fap craft beer raw denim. Brunch Echo Park deserunt, iPhone single-origin coffee id organic Intelligentsia flexitarian scenester. Portland authentic Vice, street art distillery Bushwick qui Wes Anderson mumblecore odio paleo. PBR&B Blue Bottle disrupt, vegan voluptate organic reprehenderit Echo Park et Bushwick accusamus Shoreditch. <a href="#">THIS IS A LINK</a></p>

            </div>

            </div>
	</body>
</html>