<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="The best in ecards">
    	<meta name="keywords" content="Ecards, comedy, gifts">
		<title>Ecard.ly | The Best in Ecards</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<div class="body-wrapper">
            
            <img class="img-logo" src="images/logo.png">

            <div class="box">
              <h2 class="card-header">Ecard of the Day</h2>

              <img class="card-img" src="images/ecard-nycstartups.jpg" width="600px" height="">

              <p class="card-text">Duis 3 wolf moon organic, pickled id fugiat cupidatat gastropub. Try-hard drinking vinegar adipisicing, Marfa ennui YOLO consectetur. Aliqua flannel sed minim. Meggings ethnic vero gluten-free, mixtape quinoa delectus PBR nihil salvia fap craft beer raw denim. Brunch Echo Park deserunt, iPhone single-origin coffee id organic Intelligentsia flexitarian scenester. Portland authentic Vice, street art distillery Bushwick qui Wes Anderson mumblecore odio paleo. PBR&B Blue Bottle disrupt, vegan voluptate organic reprehenderit Echo Park et Bushwick accusamus Shoreditch. <a href="#">THIS IS A LINK</a></p>

            </div>

            </div>
	</body>
</html>