<form action="/forms" method="GET">
  <input type="text" placeholder="store" name="get_receipts">
  <input type="text" placeholder="product" name="get_receipts">
  <input type="text" placeholder="price" name="get_receipts">
  <button>Make my receipt!</button>
</form>