<h2>Make a receipt</h2>
<%=erb :form %>

<!-- <p>What store would you like to shop at?</p>

<p>What product would you like to buy?</p>

<p>How much?</p>
 -->
<% a = [store, product, price] %>


<% file = File.new("receipts.txt", "a+") %>

<% file.puts info.join(", ") %>
