<!-- write new w/ SQL -->
<p>
	<% @result.values.each do |array| %>
		<%= "ID: #{array[0]}" %>
		<br>
		<%= "Title: #{array[1]}" %>
		<br>
		<%= "Year: #{array[2]}" %>
		<br>
		<img src="<%="#{array[3]}"%>" alt="">
		<br>
	<% end %>
</p>
