body
{
	font-family: helvetica;
}

#about
/* added bottom padding to prevent Contact Me bar from overwriting picture in wide frames  */
{
	padding: 0px 50px 100px 50px;
}

#picture
{
	padding: 0px 50px 0px 50px;
	float:right;
}

.banner
/* experimenting with class */
{
	font-size:50px;
	background: black;
	color: white;
	padding: 50px;
	text-align: center;
	font-family: 'Londrina Shadow';
}

#disclaimer
{
	font-size: 10px;
	text-align: right;
	font-style: italic;
	font-family: helvetica;
}

.banner.disclaimer
{
	font-size: 10px;
	text-align: right;
	font-style: italic;
	font-family: helvetica;
}

#links
{
	display: block;
	text-align: center;
}

ul 
{
	padding: 10px;
}

li 
{
	display:inline;
	padding: 0px 10px 0px 10px;
	
}

iframe
{
  border:none;  
  width: 210px; 
  height: 315px;
  float: right;
}