head {
	background-color: gray;
}
h1 {
	color: gray;
	background-color: black;
	text-align: center;
}
img {
	border: 7px solid black;
}
header {
	text-align: center;
	color: gray;
}
ul {
	padding: 0px;
	
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
