<h1>Welcome to the Movie Monster</h1>
<h3>Search for a movie!</h3>
<h5>no need to be afraid</h5>

<form action ="/movies" method="post">
  <input type="text" name="movie" placeholder="Enter a movie"/>
  <button type=submit>Submit</button>
</form>