<div class="row">

  <div class="large-8 large-centered columns">
    <h1>My Bucket List</h1>

    <form>
      <label for="activity">
        Activity:
        <input type="text" name="activity" placeholder="Skydiving">
      </label>

      <button>List it!</button>
    </form>

    <ul>
    <li></li>
    </ul>
  </div>
</div>
