<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <title>WDInstagram</title>
  <link rel="stylesheet" href="/styles.css"/>
  <link rel="stylesheet" href="/reset.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="body-wrapper">
    <header>
      <a href="/"><h1 class="header">WDInstagram</h1></a>
    </header>

    <a class="boxify" href="/new">Upload</a>
    <div class="all-images">
    <%= yield %>
    </div>
  </div>
</body>
</html>